[Unit]
Description=RC Car Control Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/AutoRC/src/PiCarDriving.py
WorkingDirectory=/home/pi/AutoRC/src
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
